lab04/Simplex/WindowsFormsApp/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sum_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sum_1Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sum_2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A" />
            <s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="A">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="k" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="sum_3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sum_3Result" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sum_4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sum_4Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sum_1SoapIn">
    <wsdl:part name="parameters" element="tns:sum_1" />
  </wsdl:message>
  <wsdl:message name="sum_1SoapOut">
    <wsdl:part name="parameters" element="tns:sum_1Response" />
  </wsdl:message>
  <wsdl:message name="sum_2SoapIn">
    <wsdl:part name="parameters" element="tns:sum_2" />
  </wsdl:message>
  <wsdl:message name="sum_2SoapOut">
    <wsdl:part name="parameters" element="tns:sum_2Response" />
  </wsdl:message>
  <wsdl:message name="sum_3SoapIn">
    <wsdl:part name="parameters" element="tns:sum_3" />
  </wsdl:message>
  <wsdl:message name="sum_3SoapOut">
    <wsdl:part name="parameters" element="tns:sum_3Response" />
  </wsdl:message>
  <wsdl:message name="sum_4SoapIn">
    <wsdl:part name="parameters" element="tns:sum_4" />
  </wsdl:message>
  <wsdl:message name="sum_4SoapOut">
    <wsdl:part name="parameters" element="tns:sum_4Response" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 int</wsdl:documentation>
      <wsdl:input name="sum_1" message="tns:sum_1SoapIn" />
      <wsdl:output name="sum_1" message="tns:sum_1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Concatination of string and double</wsdl:documentation>
      <wsdl:input name="sum_2" message="tns:sum_2SoapIn" />
      <wsdl:output name="sum_2" message="tns:sum_2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of fileds of two [A] objects. Return [A] object</wsdl:documentation>
      <wsdl:input name="sum_3" message="tns:sum_3SoapIn" />
      <wsdl:output name="sum_3" message="tns:sum_3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Adds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 int. Response JSON</wsdl:documentation>
      <wsdl:input name="sum_4" message="tns:sum_4SoapIn" />
      <wsdl:output name="sum_4" message="tns:sum_4SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/sum_1" style="document" />
      <wsdl:input name="sum_1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://tempuri.org/sum_2" style="document" />
      <wsdl:input name="sum_2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/sum_3" style="document" />
      <wsdl:input name="sum_3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adds">
      <soap:operation soapAction="http://tempuri.org/sum_4" style="document" />
      <wsdl:input name="sum_4">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_4">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/sum_1" style="document" />
      <wsdl:input name="sum_1">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_1">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap12:operation soapAction="http://tempuri.org/sum_2" style="document" />
      <wsdl:input name="sum_2">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_2">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/sum_3" style="document" />
      <wsdl:input name="sum_3">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_3">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adds">
      <soap12:operation soapAction="http://tempuri.org/sum_4" style="document" />
      <wsdl:input name="sum_4">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sum_4">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:1924/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:1924/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>